<?xml version='1.0' encoding='UTF-8'?>
<user>
    <fullName>admin</fullName>
    <properties>
        <jenkins.security.ApiTokenProperty>
            <apiToken>qlhcWowvwhf1M2ugqxD4N6QXO9gcupp2uPr7EfnkbL8aCD+uxruSklDSL/tYYo68</apiToken>
        </jenkins.security.ApiTokenProperty>
        <hudson.model.MyViewsProperty>
            <views>
                <hudson.model.AllView>
                    <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
                    <name>Tudo</name>
                    <filterExecutors>false</filterExecutors>
                    <filterQueue>false</filterQueue>
                    <properties class="hudson.model.View$PropertyList"/>
                </hudson.model.AllView>
            </views>
        </hudson.model.MyViewsProperty>
        <hudson.model.PaneStatusProperties>
            <collapsed/>
        </hudson.model.PaneStatusProperties>
        <hudson.search.UserSearchProperty>
            <insensitiveSearch>false</insensitiveSearch>
        </hudson.search.UserSearchProperty>
        <hudson.security.HudsonPrivateSecurityRealm_-Details>
            <passwordHash>#jbcrypt:$2a$10$xEol2p6ZJY0oMi1BOHE/aubv7/RKRhipS7GmqgMTnHVFyH7OqWbcS</passwordHash>
        </hudson.security.HudsonPrivateSecurityRealm_-Details>
        <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.8">
            <emailAddress>admin@admin</emailAddress>
        </hudson.tasks.Mailer_-UserProperty>
    </properties>
</user>